/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("./assets/adminbag.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0;
}

.container {
    justify-content: center;
    align-items: center;
    max-width: 340px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    background-color: #F0ECE2;
    background-image: url(./assets/navimg.png);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}

/* h1 {
    text-align: center;
    color: #333;
} */

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


button.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #50B498;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button.submit-btn:hover {
    background-color: #468585;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] 
{
    width: 320px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.head2{
    color: white;
    text-align: center;
}